In [51]:
import sqlite3
import pandas as pd

In [52]:
# Conectar ao banco de dados SQLite (o arquivo será criado se não existir)
conn = sqlite3.connect('pa004.sqlite')

In [53]:
# Criar um cursor
cur = conn.cursor()

In [54]:
# Exemplo de consulta SQL
cur.execute("SELECT * from users u;")
df_train = cur.fetchall()

# Fechar o cursor e a conexão
cur.close()
conn.close()

In [55]:
import pandas.io.sql as psql

In [57]:
# Conectar ao banco de dados SQLite (o arquivo será criado se não existir)
conn = sqlite3.connect('pa004.sqlite')

query = """
    SELECT * FROM users u
    INNER JOIN insurance i ON ( u.id = i.id )
    INNER JOIN vehicle v ON ( u.id = v.id )
    WHERE u.age > 44
"""

df = psql.read_sql( query, conn )
df.head()

,id,gender,age,region_code,policy_sales_channel,id,previously_insured,annual_premium,vintage,response,id,driving_license,vehicle_age,vehicle_damage
0,2,Male,76,3.0,26.0,2,0,33536.0,183,0.0,2,1,1-2 Year,No
1,3,Male,47,28.0,26.0,3,0,38294.0,27,1.0,3,1,> 2 Years,Yes
2,8,Female,56,28.0,26.0,8,0,32031.0,72,1.0,8,1,1-2 Year,Yes
3,11,Female,47,35.0,124.0,11,0,47576.0,46,1.0,11,1,1-2 Year,Yes
4,14,Male,76,28.0,13.0,14,0,36770.0,15,0.0,14,1,1-2 Year,Yes

:

In [ ]:
df = pd.read_sql( "SELECT * from train t",  conn)
df.head()

DatabaseError: Execution failed on sql 'SELECT * from train t': no such table: train

In [ ]:
# Fechar a conexão
conn.close()